[Desktop Entry]
Type=Application
Version=1.0
Name=Calamares Installer
Exec=/usr/share/infinity/Scripts/autostart.sh
Terminal=false
X-KDE-AutostartScript=false
OnlyShowIn=KDE;
